/* белый фон background: #FFFFFF; */
/* акцент голубой переход при нажатии color: #2196F3; */
/* текст черный color: #212121; */
/* почта,телефон,должности,текст под антеной  color: #757575; */
/* фон Наша команда  background: #F5F4FA; */
/* фон футера background: #2F303A; */
/* футер адрес  rgba(255, 255, 255, 0.6) */
/* фон #E5E5E5; */

/* шрифты
Raleway  bold - 700
Roboto normal- 400, 500,bold - 700,900
 */
html{
    box-sizing: border-box;
}
*,
*::before,
*::after {
    box-sizing: inherit;
}

:root {
    --primary-text-color: #212121;
    --title-text-color: #757575;
    --accent-text-color: #2196F3;
    --primary-white-color: #ffffff;
    --second-grey-color: #F5F4FA;
    --footer-color: #2F303A;
    --features-color: #E5E5E5;
    --clients-color: #AFB1B8;
}
body, button {
    background-color: var (--primary-white-color);
   
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em;
}
/* убрали точки у ссылок */
.list a {
    text-decoration: none;
}

.social {
    list-style: none;
}

/* Лого Веб Студия */
.logo-web {
    color: var(--accent-text-color);
  }
.logo {
    color: var(--primary-text-color);
    text-decoration: none;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 0.03;
  }

.container {
    margin: 0 auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    /* outline: 2px solid tomato; */
}  

/* Main nav */

.main-nav {
    display: flex;
    align-items: center;
}
  /* Фиксированный хедер!!! */
/* .main-nav {
    position: fixed;
    display: flex;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    top: 0;
  
    z-index: 99;
    left: 50%;
    transform: translate(-50%);
    background-color: #ffffffd8;
  } */


  /* Site nav */
.site-nav.list {
    display: flex;
    margin-left: 86px;
  }
.site-nav {
    margin: 0;
    padding: 0;
}
  .site-nav .item:not(:last-child) {
    margin-right: 50px;
}
  /* Навигация и телефон */
/* .site-nav*/
.link { 
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.current::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: var(--accent-text-color);
    border-radius: 2px;
}
.link:hover,
.link:focus {
    color: var(--accent-text-color);
   }
.link.current {
    color: var(--accent-text-color);
}

 /* Адрес и телефон */
.site-adress {
    display: flex;
    margin-left: auto;
    padding: 0;
    margin-top: 0px;
    margin-bottom: 0px;

  }
.list .item:not(:last-child) {
    margin-right: 30px;
}
.site-adress .lint {
    color: var(--title-text-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    /* list-style: none; */
}
.site-adress .lint:hover,
.site-adress .lint:focus {
    color: var(--title-text-color);
    transform: scale(1.2);
}
img {
    display: block;
}
.item {
    display: flex;
    align-items: center;
    position: relative;
} 
.item-mail {
    margin-right: 10px;
    width: 16px;
    height: 11px;
    cursor: pointer;
    fill: var(--title-text-color);
}
.item-fon {
    margin-right: 10px;
    width: 10px;
    height: 15px;
    cursor: pointer;
    fill: var(--title-text-color);
}
.site-adress .lint:hover,
.site-adress .lint:focus{
    color: var(--accent-text-color);
}
.site-adress .lint:hover >.item-mail,
.site-adress .lint:focus >.item-mail,
.site-adress .lint:hover >.item-fon,
.site-adress .lint:focus >.item-fon{
   fill: var(--accent-text-color);
}

 
/* Hero */

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)
      ),
      url(../img/header.jpg);
    /* background-color: rgb(70, 70, 70); */
    max-width: 1600px; 
    height: 600px;
}
 /* Банер */ 
.hero-title {
    color: var(--primary-white-color);

    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    margin-bottom: 46px;
    width: 646px;
    height: 104px;
    
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
}

/* Button */
 .button.primary {
    /* display: inline-block; */
    border: 1px;
    border-radius: 4px;
    padding: 10px 32px;
    
    color: var(--accent-text-color);
    background-color: var(--primary-white-color);
    
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    text-decoration: none;
}
 
/* Фильтры-кнопки впервой странице и портфолио */

.button.list-bt {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}
 .list-bt { 
    list-style: none;
    margin: 0px;
    padding: 0px;
}
/* Модальное окно */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  
    opacity: 1;
  
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
 
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
  
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.1);
}
  
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
  
    min-height: 581px;
    min-width: 528px;
    
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background-color: var(--primary-white-color);
  
    transform: translate(-50%, -50%) scale(1);
  
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-mod {
    padding: 40px;
    color: var(--title-text-color);
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.01em;
}
.form-title {
    margin-top: 0;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    letter-spacing: 0.03em;
    text-align: center;
    color: var(--primary-text-color);
}
.form-mod .form-field {
    position: relative;
    display: block;
}
  
.form-mod .form-field:nth-child(-n + 4) {
    margin-bottom: 28px;
}
.form-mod .form-label {
    position: absolute;
    top: 50%;
    left: 42px;
    transform: translateY(-50%);
  
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-mod .form-input { 
    width: 100%;
    margin: 0;
    padding: 12px 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field.text-area {
    margin-bottom: 20px;
}
.form-input.comment {
    display: block;
    resize: none;
    padding: 12px 16px;
}
.form-mod .comment-label {
    position: absolute;
    top: 12px;
    left: 16px;
  
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      font-size 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
  
    transform: translateY(-50%);
  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-field:focus-within > .form-icon {
    fill: var(--accent-text-color);
}
.form-field:focus-within > .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  transform: translateY(-38px) translateX(-26px);
  color: var(--accent-text-color);
  font-size: 12px;
}
.form-field:focus-within > .comment-label,
.form-input:not(:placeholder-shown) + .comment-label {
  transform: translateY(-28px);
  color: var(--accent-text-color);
  font-size: 12px;
}  
.form-input:focus {
    outline: none;
    border-color: var(--accent-text-color);
}
.agreement {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
}
.agreement-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}
.agreement-link {
    color: var(--accent-text-color);
}
.checkbox {
    margin-right: 8px;
}
.checkbox {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}
.icon-check {
    display: inline-block;
    width: 15px;
    height: 15px;
    margin-right: 8px;
    border-radius: 2px;
    border: 2px solid var(--primary-text-color);
  
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:checked + .icon-check {
    border-color: var(--accent-text-color);
    background-color: var(--accent-text-color);
    border-radius: 2px;
    background-image: url("../img/icon-check.svg");
    background-size: contain;
    background-origin: border-box;
}
.button-send {
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.button-close {
    position: absolute;
    top: 8px;
    right: 8px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: 30px;
    background-color: var(--primary-white-color);
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button-close:hover,
.button-close:focus {
  fill: var(--accent-text-color);
} 




/* Кнопки В ПОРТФОЛИО */
.button-secondary {
    
    background: var(--second-grey-color);
    padding: 6px 22px;
    border-radius: 4px;
    border: transparent;
    color: var(--primary-text-color);
    
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.button.primary:hover,
.button.primary:focus {
     background-color: var(--primary-white-color);
     color: var(--primary-text-color);
}
 .button.primary,
 .button-secondary:hover,
 .button-secondary:focus  {
    background-color: var(--accent-text-color);
    color: var(--primary-white-color);
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 3px 1px rgba(0, 0, 0, 0.1);
    transform: scale(1.2);
}
 
  /* Features & Tasks */ 

.invisibel-features {
    padding-top: 94px;
    padding-bottom: 94px;
    /* outline: 2px solid tomato; */
    
} 
.list-point {
    display: flex;
    margin: 0px;
    padding: 0px;
}
 
.point:not(:last-child) {
    margin-right: 30px;
}
li.point {
     list-style: none; 
}
.list-point .point {
    width: calc((100% - 90px) / 4);
}
li.point .instrument {
   display: inline-block;  
}
.img-card {
    background-color: var(--second-grey-color);
    display: flex;
    justify-content: center;
    width: 270px;
    height: 120px;
    border-radius: 4px;
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 100px;
    padding-right: 100px;
}
.img-point {
    width: 70px;
    height: 70px;
}

h3.featur-f {
    margin-top: 30px;
    margin-bottom: 0px;

    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: left;
    text-transform: uppercase;
}
p.featur-f {
    margin-top: 10px;
    margin-bottom: 0px;

    color: var(--title-text-color);
    font-weight: 400;
    font-size: 14px;
    text-transform: none;
    text-align: left;
    height: 75px;
    line-height: 1.714;
}

/* чем мы занимаемся */
.feature {
    padding-top: 94px;
    padding-bottom: 94px;
    /* outline: 2px solid tomato;*/
} 
h2.task {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 50px;
}
h3.adds {
    color: var(--primary-white-color);
    background: rgba(47, 48, 58, 0.8);
    border-radius: 0px 0px 4px 4px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
   
    position: absolute;
    width: 100%;
    height: 70px;
    bottom: 0;
    margin: 0;
    padding: 27px;
}

h3 {
    margin-top: 0;
    margin-bottom: 0;
}
.list.features {
    display: flex;
    margin: 0px;
    padding: 0px;
    list-style: none;
 }

.feature li.picture:not(:last-child) {
        margin-right: 30px;
        list-style: none;
}
.feature li.picture {
position: relative;
    margin-right: 30px;
    width: calc((100% - 60px) / 3);
    text-align: center;
    z-index: -1;
}

/* Наша команда */
 .team {
    background-color: var(--second-grey-color);
    /* outline: 2px solid tomato; */
 }
 .team .container {
    padding-top: 94px;
    padding-bottom: 94px;
 }
.photo {
    margin-bottom: 30px;
}

p.profi {
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;

    margin-bottom: 16px;
    margin-top: 0px;
}
.comando {
    display: flex;
    margin: 0px;
    padding: 0px;
}

.social-item {
    display: block;
    width: calc((100% - 90px) / 4);
    
    padding-bottom: 24px;

    background-color: var(--primary-white-color);
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2),
                0px 1px 1px rgba(0, 0, 0, 0.14),
                0px 1px 3px rgba(0, 0, 0, 0.12);
    border-radius: 4px;

}
.social-item:not(:last-child) {
        margin-right: 30px;
}
.name {
    text-align: center;
    margin-top: 0px;
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--primary-text-color);
}
.comando .gatjet:not(:last-child) {
    margin-right: 10px
}
.social {
    display: flex;
    justify-content: center;
    padding: 0px;
}
.icon {
    width: 20px;
    height: 20px;
    margin-left: auto;
    margin-right: auto;
}
.label {
    display: flex;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    /* outline: none; */
    fill: var(--clients-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.label:hover,
.label:focus{
    background-color: var(--accent-text-color);
    fill: var(--primary-white-color);
    transform: scale(1.2);
}
/* Наши клиенты */
.client {
    padding-top: 94px;
    padding-bottom: 94px;
    /* outline: 2px solid tomato; */
 }

.list-client {
    display: flex;
    justify-content: center ;
    list-style: none;
    padding: 0px;
    margin: 0px;    
}
.pic {
    width: calc((100% - 150px) / 6);
    margin-right: 30px;
}
.list-client .company:not(:last-child) {
    margin-right: 30px;
}
.plant {
    display: flex;
    align-items: center;
}
.company {
    display: flex;
    align-items: center;
    width: 170px;
    height: 90px;
    border: 1px solid var(--clients-color);
    border-radius: 4px;
    outline: none;
    fill: var(--clients-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.company:hover, .company:focus {
    fill: var(--accent-text-color);
    border: 1px solid var(--accent-text-color);
    transform: scale(1.2);
}
.logo_1,.logo_2,
.logo_3, .logo_4,
.logo_5, .logo_6 {
    margin-right: auto;
    margin-left: auto;
}


/* Footer */

.footer-f {
    background-color: var(--footer-color);
}
.container-footer{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 48px 15px 28px 15px;
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

}
.logo-web {
    color: var(--accent-text-color);
  }
.footer-lg {
    display: flex;
    flex-direction: column;
} 
.logo-f {
    color: var(--primary-white-color);
    text-decoration: none;
    font-family: Raleway;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.adress-studio {
    font-style: normal;
    margin-right: 69px;
}
  .place {
    color: var(--primary-white-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-transform: none;
    width: 231px;
    height: 21px;

    margin-top: 10px;
    margin-bottom: 0px;
}
.footer-mails {
    color: rgba(255, 255, 255, 0.6);
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-decoration: none;
 }
  .general {
    width: 231px;
    height: 21px;
    margin-top: 9px;   
}
 .adress-list {
    padding: 0px;
    list-style: none;
 }
 .footer-s {
    width: 206px;
    height: 81px;
    margin-right: 93px;
 }
.footer-h {
    display: inline-block;
    margin-top: 0px;
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--primary-white-color);
}
.footer-social{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}
.aria-footer:not(:last-child) {
        margin-right: 10px;
}

.label-footer {
    display: flex;
    width: 44px;
    height: 44px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 0;
    margin-right: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    fill: var(--primary-white-color);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.label-footer:hover,
.label-footer:focus{
    background-color: var(--accent-text-color);
    transform: scale(1.2); 
}
/* Форма подписки */
.footer-subscription {
    width: auto;
    margin-left: auto;
 }
.footer-form {
    display: flex;
    justify-content: end;
}
.footer-input {
    display: inline-block;
    width: 358px;
    height: 50px;
    background-color: inherit;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    padding: 15px 16px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    margin-right: 10px;
}

.footer-button {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding: 0;
    min-width: 200px;
    border: 0;
    color: var(--primary-white-color);
    background-color: var(--accent-text-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon {
    fill: var(--primary-white-color);
    margin-left: 10px;
}
.footer-button:hover,
.footer-button:focus {
  transform: scale(1.1);
}


  p.developer {
    color: rgba(255, 255, 255, 0.4);
    font-weight: 400;
    font-size: 12px;
    line-height: 2;
    text-align: center;
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 18px;
    padding-bottom: 21px;
  }

/* Portfolio */
.filter {
    padding-top: 94px;
    padding-bottom: 94px;
}
.list-info {
    color: var(--primary-text-color);
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;

    width: 322px;
    margin-top: 0px;
    margin-bottom: 0px;
}
.list-top {
    color: var(--title-text-color);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;

    width: 322px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: 4px;
    margin-bottom: 0px;
    
}
/* Объединил Технокряк и Вебсайт
 в один див и добавил рамку без верха*/
.galery-card {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 24px;
    padding-left: 24px;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: #eeeeee;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #eeeeee;
    border-left-width: 1px;
    border-left-style: solid;
    border-left-color: #eeeeee;
}
.button-b:not(:last-child) {
    margin-right: 8px;
}
.galery {
    display: flex;
    flex-wrap: wrap;
    padding-left: 0px;
}
.card {
    width: calc((100% - 60px) / 3);
    /*background: var(--primary-white-color);
    border: 1px solid #EEEEEE;
     border-radius: 4px; */
}
.card-foto {
    display: block;
    text-decoration: none;
}
.card:not(:nth-child(3n)) {
    margin-right: 30px;
}
.card:not(:nth-last-child(-n + 3)) {
    margin-bottom: 30px;
}
.card:hover, .card:focus,
.card-foto:hover, .card-foto:focus {
    box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16),
                0px 4px 4px rgba(0, 0, 0, 0.06),
                0px 1px 1px rgba(0, 0, 0, 0.12);
}

.overlay-text {
    display: inline-block;
    padding: 63px 24px;

    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: var(--primary-white-color);
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    opacity: 1;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
                opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card-thumb {
    position: relative;
    overflow: hidden;
  }
.card:hover .overlay,
.card .card-foto:focus .overlay {
  opacity: 1;
  transform: translateY(0);
}
